<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
            
    
    <wb-module deploy-name="solution-code-spring-mvc-create-home-controller-and-view">
                        
        
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
                        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
                        
        
        <property name="java-output-path" value="/solution-code-spring-mvc-create-home-controller-and-view/build/classes"/>
        <property name="context-root" value="solution-code-spring-mvc-create-home-controller-and-view"/>
                    
    
    </wb-module>
        

</project-modules>
